<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>DigitalArts</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <main>
        <h3 class="margin-top subrayado">Artistas nuevos</h3>
        <div class="contenedor-cuadros-espatula">
        <div class="item padding-bottom"> 
            <%= cuadrosArtistasNuevos.forEach (cuadro) => {  %>                   
           <div><a href="carrito"><img class="img-cuadro" src=<%= cuadro.title %>></a></div>            
           <div class="contenedor-detalle-carrito">
            <div class="caja-detalle-cuadro">
                <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: <%= cuadro.artista %></b><br>
                    <b>Técnica: <%= cuadro.tecnica %></b> <br>
                    <b>Dimensiones: <%= cuadro.dimensiones %></b> <br>
                    <b><%= cuadro.detalle %></b><br>
                </p>
            <% } %>
            </div>
            <div class="carrito-centrado">
                <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
            </div>
           </div>
        </div>
        <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 2.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Stephen King</b><br>
                    <b>Técnica: abstracto espátula</b> <br>
                    <b>Dimensiones: 40x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 3.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Stephen King</b><br>
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 30x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 4.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Stephen King</b><br>
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 50x80</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 5.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Clive Barker</b><br>
                    <b>Técnica: abstracto espátula</b> <br>
                    <b>Dimensiones: 50x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 6.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Clive Barker</b><br>
                    <b>Técnica: abstraco espátula</b> <br>
                    <b>Dimensiones: 70x50</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div>
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 7.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Clive Barker</b><br>
                    <b>Técnica: abstraco espátula</b> <br>
                    <b>Dimensiones: 30x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div> 
         <div class="item padding-bottom">                       
            <div><a href="carrito.html"><img class="img-cuadro" src="images/artista nuevo 8.jpg.jpg"></a></div>            
            <div class="contenedor-detalle-carrito">
             <div class="caja-detalle-cuadro">
                 <p class="tamaño-letra-detalle-cuadro">
                    <b>Artista: Clive Barker</b><br>
                    <b>Técnica: abstracto con pincel</b> <br>
                    <b>Dimensiones: 50x70</b> <br>
                    <b>Bastidor en lienzo</b><br>
                 </p>
             </div>
             <div class="carrito-centrado">
                 <a href="carrito.html"><button class="centrado">añadir<br> al carrito</button></a>
             </div>
            </div>
         </div> 
        </div> 
    </main>
    
    <%- include("./partials/footer.ejs") %>

  </body>
  </html>