<%- include("./partials/head") %>

<body>
  
  <%- include("./partials/header") %>

    <main>

       <h3 class="margin-h2-login centrar-login">Carrito de compras</h3>

       <% compraCuadro.forEach(cuadro => { %> 

        <div class="contenedor-carrito">
          <div >
            <img src="/images/<%= cuadro.image %> " class="imagen-carrito">
          </div>
          <div class="precio-carrito">
            <p class="tamaño-precio-carrito">$<%= cuadro.price %></p>
          </div>
        </div>

      <% })  %> 
      
      <div class="centrar-boton-carrito">
      <button type="button" class="btn btn-primary centrar-boton-carrito">Comprar</button>
      </div>
      <br><br>

    </main>
    
    <%- include("./partials/footer") %>

</body>
</html>