<%- include("./partials/head") %>

<body>

    <%- include("./partials/header") %>

    <main>
       <h2 class="h2-detail">Detalle del producto: <%= detailProduct.name %></h2>
       <div class="contenedor-detail">
            <div class="caja-detail-1">
                  <img src="/images/<%= detailProduct.image %>" class="img-detail" alt="imagen del producto">
            </div>
            <div class="caja-detail-2">
                <p class="p-detail"><b>Descripcion:</b><br><%= detailProduct.description.description %></p>
                <p class="p-detail"><b>Dimensiones:</b><br><%= detailProduct.size %></p>
                <p class="p-detail"><b>Material:</b><br><%= detailProduct.material.material %></p>
                <p class="p-detail"><b>Precio:</b><br>$<%= detailProduct.price %></p>
    
                <div class="caja-comprar">
                     <a href="/carrito/<%= detailProduct.id %>" ><button type="button" class="btn btn-primary">COMPRAR</button></a>
                </div>
                <!-- aca solo muestro los botones de editar y eliminar si hay alguien logueado y es administrador -->
                <% if(locals.userLogged && locals.userLogged.isAdmin == 1) { %>

                <div class="contenedor-edit-delete">
                    <div class="caja-edit">
                         <a href="/products/edit/<%= detailProduct.id %>"><button type="button" class="btn btn-info">EDITAR</button></a>
                    </div>
                    <div class="caja-detail">
                        <form action="/products/delete/<%= detailProduct.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">ELIMINAR</button>
                        </form>
                    </div>
                </div>  
                <% }  %>
                    

            </div>
       </div> 
    </main>

    <%- include("./partials/footer") %>

</body>

</html>    