<%- include("./partials/head") %>

<body>

  <%- include("./partials/header") %>

   
  <main>

    <div>
      <div>
        <h2 class="h2-create">Formulario de Carga y Creación de Productos</h2>
      </div>
      <div>
        <ul class="errores"></ul>
      </div>
      <div class="container-edit-form">
        <form action="/productsDb/create" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" >
            <div class="col-md-4">
                <label for="category" class="form-label">Elija la categoría:</label>
                <select  name="category" class="form-select" id="category" required> 
                    <% for (let i = 0; i < cate.length; i++)  { %>             
                  <option value="<%= cate[i].id%>">
                      <%= cate[i].category  %> 
                  </option>
                 
                  <%  } %>
                </select>
            </div> 

            <div class="col-md-4">
                <label for="name" class="form-label">Nombre del Producto:</label>
                <input type="text" name="name" class="form-control" id="name">
                <% if(locals.errors && errors.name) { %>
                    <div class="red-message-register">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
                <div class="div1"></div>
            </div>
            <div class="col-md-3">
                <label for="size" class="form-label">Tamaño:</label>
                <input name="size" class="form-control size-input"  id="size"></input>
                <% if(locals.errors && errors.size) { %>
                    <div class="red-message-register">
                        <%= errors.size.msg %>
                    </div>
                <% } %>
                <div class="div2">
            </div>
            </div>
            <div class="col-md-3">
                <label for="description" class="form-label">Descripción</label>
                <select  name="description" class="form-select" id="description" required>              
                    <% for (let i = 0; i < descrip.length; i++)  { %>             
                        <option value="<%= descrip[i].id%>">
                            <%= descrip[i].description %> 
                        </option>
                     <%  } %>
                </select>
            </div>
             
            
            <div class="col-md-4">
                <label for="material" class="form-label">Material:</label>
                <select  name="material" class="form-select" id="material" required>              
                    <% for (let i = 0; i < mate.length; i++)  { %>             
                        <option value="<%=mate[i].id%>">
                            <%=mate[i].material%> 
                        </option>
                     <%  } %>  
                </select>
            </div>
            <div class="col-md-3">
                <label for="price" class="form-label">Precio:</label>
                <input type="text" name="price" class="form-control" id="price">
                <% if(locals.errors && errors.price) { %>
                    <div class="red-message-register">
                        <%= errors.price.msg %>
                    </div>
                <% } %>
                <div class="div3"></div>   
            </div>
            
            <div class="col-md-3" >
                <label for="image" class="form-label">Imagen</label>
                <input type="file" name="image" id="image" class="form-input" accept=".jpg ,.png, .jpeg, .gif" /> 
            </div>

            <div class="button-create ">
                <button type="submit" class="btn btn-primary">Crear producto</button>
            </div>
        </form>
       </div>   
      </div>      
    </main>

      <%- include("./partials/footer") %>
   <script src="/js/formCreate.js" ></script>
  </body>
  </html>
