
<%- include("./partials/head") %>

<body>
	
	<%- include('partials/header.ejs') %>
	
  <main>

	<div >
		<div>
			<div>
				<h2 class="h2-create">Estás editando: <i><%= cuadrosEditar.name %></i></h2>
			</div>
		</div>
		<div>
			<form action="/products/edit/<%= cuadrosEditar.id %>?_method=PUT" method="POST">
				<div class="contenedor-create">
					<div class="box-create">
						<label for="category" class="form-label">Categoría del producto:</label>
						<input type="text" id="category" name="category"  class="form-input" value="<%= cuadrosEditar.category%>">
					</div>
					<div class="box-create">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name"  class="form-input" value="<%= cuadrosEditar.name%>">
					</div>
					<div class="box-create">
						<label for="size" class="form-label">Medida del producto:</label>
						<input type="text" id="size" name="size"  class="form-input large-size" value="<%= cuadrosEditar.size %>"> 
					</div>
                    <div class="box-create " >
						<label for="description" class="form-label">Descripción:</label>
						<input name="description" id="description" class="form-input large-description" value="<%= cuadrosEditar.description %>">
					</div>
					<div class="box-create">
						<label for="material" class="form-label">Material:</label>
						<input type="text" id="material" name="material"  class="form-input large-description" value="<%= cuadrosEditar.material %>">
					</div>
                    <div class="box-create">
						<label for="price" class="form-label">Precio:</label>
						<input type="text" id="price" name="price"  class="form-input large-price" value="<%= cuadrosEditar.price %>">
					</div>
					
					<div class="box-create margin-button-save">
						<button type="submit" class="save-product">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
 </main>
	<%- include('partials/footer') %>
	
</body>	
</html>