<%- include("./partials/head") %>

<body>

  <%- include("./partials/header") %>

   
    <main>

        <h2 class="h2-create">Formulario de Carga y Creación de Productos</h2>

        <form action="/productsDb/create" method="POST" enctype="multipart/form-data" class="formValidation">
        <div class="contenedor-create">

            <div class="box-create">
                <label for="" class="form-label">Elija la categoría:</label>
                <select  name="category" class="form-input" id="category" required> 
                    <% for (let i = 0; i < cate.length; i++)  { %>             
                  <option value="<%= cate[i].id%>">
                      <%= cate[i].category  %> 
                  </option>
                 
                  <%  } %>
                </select>
            </div> 

            <div class="box-create">
                <label for="name" class="form-label">Nombre del Producto:</label>
                <input type="text" name="name" class="form-input" id="name">
            </div>
      
            <div class="box-create">
                <label for="description" class="form-label">Descripción</label>
                <select  name="description" class="form-input large-description" id="description" required>              
                    <% for (let i = 0; i < descrip.length; i++)  { %>             
                        <option value="<%= descrip[i].id%>">
                            <%= descrip[i].description %> 
                        </option>
                     <%  } %>
                </select>
            </div>
             
            <div class="box-create">
                <label for="size" class="form-label">Tamaño:</label>
                <input name="size" class="form-input large-size"  id="size"></input>
            </div>
            
            <div class="box-create">
                <label for="material" class="form-label">Material:</label>
                <select  name="material" class="form-input large-description" id="material" required>              
                    <% for (let i = 0; i < mate.length; i++)  { %>             
                        <option value="<%=mate[i].id%>">
                            <%=mate[i].material%> 
                        </option>
                     <%  } %>  
                </select>
            </div>
            <div class="box-create">
                <label for="price" class="form-label">Precio:</label>
                <input type="text" name="price" class="form-input large-price" id="price">
            </div>

            <div class="box-create" >
                <label for="image" class="form-label">Imagen</label>
                <input type="file" name="image" id="image" class="form-input" accept=".jpg" /> 
            </div>

            <div class=" ">
                <button type="submit" class="save-product margin-button-save">Guardar</button>
            </div>
      </div>      
    </main>

      <%- include("./partials/footer") %>
   <script src="/js/formCreate.js" ></script>
  </body>
  </html>
