
<%- include("./partials/head") %>

<body>
	
	<%- include('partials/header.ejs') %>
	
  <main>

	<div >
		<div>
			<div>
				<h2 class="h2-create">Estás editando: <i><%= cuadrosEditar.name %></i></h2>
			</div>
		</div>
		<div>
			<form action="/productsDb/edit/<%= cuadrosEditar.id %>?_method=PUT" method="POST">
				<div class="contenedor-create">
					<div class="box-create">
						<label for="category" class="form-label">Categoría del producto:</label>
						<select  name="category" class="form-input" id="" required> 
							<% for (let i = 0; i < cate.length; i++)  { %>  
								<%  if(cate[i].id == cuadrosEditar.category_id) { %>           
								<option value="<%= cate[i].id%>" selected>
									<%= cate[i].category  %> 
								</option>
							    <%  } else {  %> 
								<option value="<%= cate[i].id%>">
								    <%= cate[i].category  %> 
								</option>
								<%  } %>
								<%  } %>
						  </select>
					</div>
					<div class="box-create">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name"  class="form-input" value="<%= cuadrosEditar.name%>">
					</div>
					<div class="box-create">
						<label for="size" class="form-label">Medida del producto:</label>
						<input type="text" id="size" name="size"  class="form-input large-size" value="<%= cuadrosEditar.size %>"> 
					</div>
                    <div class="box-create " >
						<label for="description" class="form-label">Descripción:</label>	
						<select  name="description" class="form-input large-description" id="description" required>              
							<% for (let i = 0; i < descrip.length; i++)  { %>  
								<%  if(descrip[i].id == cuadrosEditar.description_id) { %>           
								<option value="<%= descrip[i].id%>" selected>
									<%= descrip[i].description  %> 
								</option>
							    <%  } else {  %> 
								<option value="<%= descrip[i].id%>">
								    <%= descrip[i].description  %> 
								</option>
								<%  } %>
								<%  } %>
						</select>
					</div>
					<div class="box-create">
						<label for="material" class="form-label">Material:</label>
						<select  name="material" class="form-input large-description" id="material" required>              
							<% for (let i = 0; i < mate.length; i++)  { %>  
								<%  if(mate[i].id == cuadrosEditar.material_id) { %>           
								<option value="<%= mate[i].id%>" selected>
									<%= mate[i].material  %> 
								</option>
							    <%  } else {  %> 
								<option value="<%= mate[i].id%>">
								    <%= mate[i].material  %> 
								</option>
								<%  } %>
								<%  } %>
						</select>
					</div>
                    <div class="box-create">
						<label for="price" class="form-label">Precio:</label>
						<input type="text" id="price" name="price"  class="form-input large-price" value="<%= cuadrosEditar.price %>">
					</div>
					
					<div class="box-create margin-button-save">
						<button type="submit" class="save-product">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
 </main>
	<%- include('partials/footer') %>
	
</body>	
</html>