<%- include("./partials/head") %>

<body>
    
    <%- include("./partials/header") %>

    <main>
      <h2 class="margin-h2-login centrar-login">DigitalArts</h2>
      <form action="/login" method="POST" enctype="multipart/form-data">
      <div class="centrar-login">
        <div class="login-box">
           <label class="weight-label">Email:</label>
           <input type="email" name="email" class="control" value="<%= locals.oldData ? oldData.email : null %>">
           <% if(locals.errors && errors.email) { %>
            <div class="red-message-register">
                <%= errors.email.msg %>
            </div>
        <% } %>
         </div>

        <div class="login-box">
           <label class="weight-label">Contraseña:</label>
           <input type="password" name="password" class="control" required>
           <% if(locals.errors && errors.password) { %>
            <div class="red-message-register">
                <%= errors.password.msg %>
            </div>
        <% } %>
         </div>
       
        <div class="remember-box">
           <input type="checkbox" name="remember" class="">
           <label class="weight-label">Recuerdame</label>
        </div>

        <div class="">
           <button type="submit" value="login" class="control button-login">Log In</button>
        </div>
      </div>
      </form>
      <p class="centrar-login weight-label">¿Olvidaste tu contraseña? <a href="register"> Click Aquí </a></p>
      <p class="centrar-login margin-button-login weight-label">¿No tenes una cuenta?  <a href="register">  REGISTRATE </a></p>
   
    </main>
    
    <%- include("./partials/footer") %>

  </body>
  </html>
