<%- include("./partials/head") %>

<body>

    <%- include("./partials/header") %>

    <main>
      
        <div class="contenedor-cuadros-espatula">
        
          <% categoryProducts.forEach(cuadro => {  %>

           <div class="item padding-bottom">  
              <div id="cuadro" class="clase-cuadro">
                 <a href="/products/detail/<%= cuadro.id %>"><img class="img-cuadro-detail" src="../images/<%= cuadro.image %>"></a>
              </div>        
               <div class="contenedor-detalle-carrito"> 
                  <div class="caja-detalle-cuadro detail-none" >
                    <p class="tama単o-letra-detalle-cuadro">
                       <b> <%= cuadro.description.description %></b><br>
                       <b>Dimensiones: <%= cuadro.size %></b> <br>
                       <b><%= cuadro.material.material %></b><br>
                    </p>
                  </div>
                  <div class="a単adir-carrito-centrado">
                     <% if(locals.userLogged) { %>
                         <!-- con el data-id le pasa al boton el id del producto, y con eso escucho el click y puedo ver si esta en la base de datos -->
                      <button class="a単adir-carrito agregar-carrito" data-id="<%= cuadro.id %>">Agregar al carrito</button>

                      <% } else { %>
                        <a href="/users/login"><button type="button" class="a単adir-carrito">Agregar al carrito</button></a>
                        <% } %>
                  </div>
               </div> 
           </div>

           <% }) %>
       
      </div>
             
    </main>

    <%- include("./partials/footer") %>
    <script src="/js/addToCart.js" ></script>
   
    
</body>

</html>