<%- include("./partials/head") %>

<body>

    <%- include("./partials/header") %>

    <main>

      <div class="contenedor-cuadros-espatula">
        
          <% categoryProducts.forEach(cuadro => {  %>

           <div class="item padding-bottom">  
              <div>
                 <a href="/products/detail/<%= cuadro.id %>"><img class="img-cuadro" src="../images/<%= cuadro.image %>"></a>
              </div>        
              <div class="contenedor-detalle-carrito">
                  <div class="caja-detalle-cuadro">
                    <p class="tamaño-letra-detalle-cuadro">
                       <b> <%= cuadro.description.description %></b><br>
                       <b>Dimensiones: <%= cuadro.size %></b> <br>
                       <b><%= cuadro.material.material %></b><br>
                    </p>
                  </div>
                  <div class="carrito-centrado">
                      <a href="/carrito/<%= cuadro.id %>"><button class="centrado">añadir<br> al carrito</button></a>
                  </div>
              </div>
           </div>

           <% }) %>
       
      </div>
             
    </main>

    <%- include("./partials/footer") %>

</body>

</html>