<%- include("./partials/head") %>

<body>
  
  <%- include("./partials/header") %>

 
    <main>
       <div class="conteiner-logout">
           <div class="container-users-perfil">
            <% if(locals.isLogged) { %>
            <!--el firstName e image es como puse el nombre y la imagen en el json de nuestra base de datos de users-->
            <p class="user-name">Hola <%= locals.userLogged.firstName %></p>
            <img class="image-size" src="/images/users/<%= locals.userLogged.image %>" alt="foto de perfil">
            
           <% } %>
          </div>

          <div class="container-users-link">
              <h3 class="title-users">Empezá a recorrer nuestras galerias:</h3>
              <ul class="none-point">
                <li><a href="/productsDb/abstractoEspatula" class="tamaño-link-user colour-1">Espatula</a></li>
                <li><a href="/productsDb/abstractoPincel" class="tamaño-link-user colour-2">Pincel</a></li> 
                <li><a href="/productsDb/fotomontaje" class="tamaño-link-user colour-3">Fotomontaje</a></li>
                <li><a href="/productsDb/pouring" class="tamaño-link-user colour-4">Pouring</a></li>
                <li><a href="/productsDb/cuadroDecorativo" class="tamaño-link-user colour-5">Cuadros decorativos</a></li>
                <li><a href="/productsDb/artistasNuevos" class="tamaño-link-user colour-6">Artistas nuevos</a></li>  
              </ul> 
          </div>
      </div>
       
      <!-- aca solo muestro los botones si hay alguien logueado y es administrador -->
      <% if(locals.userLogged && locals.userLogged.isAdmin == 1) { %>
      
        <div class="buttons-admin">
            <div class="button-create">
                 <a href="/productsDb/create"><button class="btn btn-success">Crear cuadro</button></a>
            </div>
            <div class="button-create">
                 <a href="/productsDb/category/create"><button class="btn btn-warning">Crear categoria</button></a>
            </div>
            <div class="button-create">
                 <a href="/productsDb/description/create"><button class="btn btn-primary">Crear descripcion</button></a>
            </div>
            <div class="button-create">
                 <a href="/productsDb/material/create"><button class="btn btn-danger">Crear material</button></a>
            </div>
        </div>
       <% } %>
     
      <div class="session-perfil">
        <a href="/usersDb/logout/"><button type="button" class="btn btn-primary">Cerrar sesion</button></a>
      </div>
    
    </main>
    
  <%- include("./partials/footer") %>

</body>
</html>