<%- include("./partials/head") %>

<body>

  <%- include("./partials/header.ejs") %>
  
    <main class="padding-register">

        <h2 class="margin-h2 centrar-login">REGISTRESE</h2>

        <form action="/usersDb/register" method="POST" enctype="multipart/form-data">
          <div class="conteiner-register">
              
            <div class="control-formulario ">
                <label class="weight-label">Nombre:</label>
                <input type="text" name="name" class="control" value="<%= locals.oldData ? oldData.name : null %>">
                <% if(locals.errors && errors.name) { %>
                    <div class="red-message-register">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>
      
            <div class="control-formulario ">
                <label class="weight-label">Apellido:</label>
                <input type="text" name="surname" class="control" value="<%= locals.oldData ? oldData.surname : null %>">
                <% if(locals.errors && errors.surname) { %>
                    <div class="red-message-register">
                        <%= errors.surname.msg %>
                    </div>
                <% } %>
            </div>
      
            <div class="control-formulario ">
                <label class="weight-label">Correo electronico:</label>
                <input type="email" name="email" class="control" placeholder="por ej: juan@gmail.com" value="<%= locals.oldData ? oldData.email : null %>">
                <% if(locals.errors && errors.email) { %>
                    <div class="red-message-register">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario ">
                <label class="weight-label">Contraseña:</label>
                <input type="password" name="password" class="control" minlength="6" maxlength="20" required pattern="[A-Za-z0-9]+" >
                <% if(locals.errors && errors.password) { %>
                    <div class="red-message-register">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>
        
            <div class="control-formulario ">
                <label class="weight-label">Confirme su contraseña:</label>
                <input type="password" name="confirmPassword" class="control" minlength="6" maxlength="20" required pattern="[A-Za-z0-9]+">
                <% if(locals.errors && errors.confirmPassword) { %>
                    <div class="red-message-register">
                        <%= errors.confirmPassword.msg %>
                    </div>
                <% } %>
            </div>
        
            <div class="control-formulario " >
               <label class="weight-label" for="avatar">Imagen de perfil</label>
               <input type="file" name="avatar" id="avatar" class="control" accept=".jpg ,.png" /> 
               <% if(locals.errors && errors.avatar) { %>
                <div class="red-message-register">
                    <%= errors.avatar.msg %>
                </div>
            <% } %>
             </div>
         </div>
            <div class="control-formulario ">
                <input type="checkbox" name="cuenta"> Al crear esta cuenta esta aceptando nuestras condiciones.<br>
                <input type="checkbox" name="ofertas"> Acepto recibir ofertas promocionales.
            </div>

            <div class="control-formulario centrar-login margin-button-register">
              <button type="submit" value="REGISTRATE" class="button-register">REGISTRATE</button>           
            </div>
          
    </main>

      <%- include("./partials/footer.ejs") %>

  </body>
  </html>