<%- include("./partials/head") %>

<body>
  
  <%- include("./partials/header") %>

 
    <main>
       <div class="conteiner-logout">
      
            <% if(locals.isLogged) { %>
            <!--el firstName e image es como puse el nombre y la imagen en el json de nuestra base de datos de users-->
            <p class="user-name">Hola <%= locals.userLogged.firstName %></p>
            <img class="image-size" src="/images/users/<%= locals.userLogged.image %>" alt="foto de perfil">
            
           <% } %>
             
           <div class="button-logout">
               <a href="/logout/"><button>Cerrar sesion</button></a>
           </div>
      </div>
    </main>
    
  <%- include("./partials/footer") %>

</body>
</html>